:root {
	background-color: #000 !important;
}

body {
	background-color: #000
}

#console {
	font-family: courier, monospace;
	color: #0f0;
	width: 750px;
	margin-left: 11%;
	margin-right: auto;
	margin-top: 100px;
	font-size: 24px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 2s;
}

#op{
    	color: #888888
}

p {
	margin: 10%;
	padding: 10%;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}

m {
	margin: 5%;
	padding: 5%;
}